/*
 *= require_tree .
 *= require_self
 */

 /* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
    display: block;
	list-style-type: disc;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end css reset */

 /* main */
body {
    font: 13px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}

img {
    border: none;
    display: block;
    height: auto;
    max-width: 100%;
}

a {
    color: #0687f5;
    text-decoration: none;
}

a:focus {
    outline:none;
}

.newline {
    display: inline-block;
}

html,
body,
main {
  height: 100%;
  margin: 0;
  /* background-color: #477987; */
}

html {
  font: -apple-system-body;
  font-size: 100%;
}

h1 {
  font-size: 2em;
  margin: 0.67em;
  display: block;
}

h2 {
  font-weight: normal;
}

h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* grid css */
.wrapper {
    width: 100%;
    height: 100%;
}

.inner {
    width: 100%;
    height: 100%;
}

.row {
    clear:both;
    margin:0 auto;
    width:100%;
    height: 84px;
}
.col {
    float: left;
    min-height: 1px;
    position: relative;
}
.col-full {
    width:100%;
}

/* clear floats */
.row:after {
    clear:both;
    content:".";
    display:block;
    height:0;
    visibility:hidden;
}

/* 12 column */
.col+.col-1-12,
.col+.col-2-12,
.col+.col-3-12,
.col+.col-4-12,
.col+.col-6-12,
.col+.col-7-12,
.col+.col-8-12,
.col+.col-9-12,
.col+.col-10-12,
.col+.col-11-12 {
    margin-left:1.8450184502%;
}

.col+.col-5-12 {
    margin-left:1.8450184502%;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* 12 column units */
.col-1-12 {width:6.642066420664%;}
.col-2-12 {width:15.129151291513%;}
.col-3-12 {width:23.616236162362%;}
.col-4-12 {width:32.10332103321%;}
.col-5-12 {width:40.590405904059%;}
.col-6-12 {width:49.077490774908%;}
.col-7-12 {width:57.564575645756%;}
.col-8-12 {width:66.051660516605%;}
.col-9-12 {width:74.538745387454%;}
.col-10-12 {width:83.025830258303%;}
.col-11-12 {width:91.512915129151%;}

/* no gutter */
.col-2-12.no-gutter,
.col-3-12.no-gutter,
.col-4-12.no-gutter,
.col-5-12.no-gutter,
.col-6-12.no-gutter,
.col-7-12.no-gutter,
.col-8-12.no-gutter,
.col-9-12.no-gutter,
.col-10-12.no-gutter,
.col-11-12.no-gutter {
    margin-left:0;
}

/* no gutter widths */
.col-2-12.no-gutter {width:16.974169741697%;}
.col-3-12.no-gutter {width:25.461254612546%;}
.col-4-12.no-gutter {width:33.948339483395%;}
.col-5-12.no-gutter {width:42.435424354244%;}
.col-6-12.no-gutter {width:50.922509225092%;}
.col-7-12.no-gutter {width:59.409594095941%;}
.col-8-12.no-gutter {width:67.89667896679%;}
.col-9-12.no-gutter {width:76.383763837638%;}
.col-10-12.no-gutter {width:84.870848708487%;}
.col-11-12.no-gutter {width:93.357933579336%;}

/* 12 column layout offsets */
.offset-1-12 {margin-left:8.487084870849%;}
.offset-2-12 {margin-left:16.974169741697%;}
.offset-3-12 {margin-left:25.461254612546%;}
.offset-4-12 {margin-left:33.948339483395%;}
.offset-5-12 {margin-left:42.435424354244%;}
.offset-6-12 {margin-left:50.922509225092%;}
.offset-7-12 {margin-left:59.409594095941%;}
.offset-8-12 {margin-left:67.89667896679%;}
.offset-9-12 {margin-left:76.383763837638%;}
.offset-10-12 {margin-left:84.870848708487%;}
.offset-11-12 {margin-left:93.357933579336%;}

/* 12 column offset sibling widths */
.col+.offset-1-12 {margin-left:10.332103321033%;}
.col+.offset-2-12 {margin-left:18.819188191882%;}
.col+.offset-3-12 {margin-left:27.306273062731%;}
.col+.offset-4-12 {margin-left:35.793357933579%;}
.col+.offset-5-12 {margin-left:44.280442804428%;}
.col+.offset-6-12 {margin-left:52.767527675277%;}
.col+.offset-7-12 {margin-left:61.254612546125%;}
.col+.offset-8-12 {margin-left:69.741697416974%;}
.col+.offset-9-12 {margin-left:78.228782287823%;}
.col+.offset-10-12 {margin-left:86.715867158672%;}

/* 16 columns */
.col-1-16 {width:5.063291139241%;}
.col-2-16 {width:11.392405063291%;}
.col-3-16 {width:17.721518987342%;}
.col-4-16 {width:24.050632911392%;}
.col-5-16 {width:30.379746835443%;}
.col-6-16 {width:36.708860759494%;}
.col-7-16 {width:43.037974683544%;}
.col-8-16 {width:49.367088607595%;}
.col-9-16 {width:55.696202531646%;}
.col-10-16 {width:62.025316455696%;}
.col-11-16 {width:68.354430379747%;}
.col-12-16 {width:74.683544303797%;}
.col-13-16 {width:81.012658227848%;}
.col-14-16 {width:87.341772151899%;}
.col-15-16 {width:93.670886075949%;}

 /* header */
.header {
    height: 105px;
}
.hd {
    background-color: #fbfdfe;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.15);
    height: 105px;
    margin-top: 0;
    display: table;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    transition: margin 0.25s ease-out;
}

.hd .row {
    max-width: 994px;
}
.hd > .row {
    position: relative;
}

/* .hd-logo {
    background:transparent url('../../img/homepage_2015/bc-logo@2x.png') no-repeat;
    background-size: 100%;
    margin-top: 24px;
    height: 25px;
    width: 156px;
} */

/* .hd-logo {
    background: url('http://shyeyez.com/ravecave/assets/images/ravecave_logo.png') 0 0 no-repeat;
    background-size: 100%;
    height: 17px;
    width: 141px;
    margin: 15px 0 15px 0;
} */

.hd-logo > span {
    display: none;
}

.logo {
    margin-top: 23px;
    margin-bottom: 5px;
    width: auto;
    height: 32px;
    display: flex;
}

.logo img {
    float: left;
    width: 133px;
    height: 16px;
    background: none;
    margin-top: 4px;
}

.logo-text {
    display: inline-block;
    font-size: 22px;
}

.hd.header .hd-subtitle {
    color: #161113;
    font-size: 16px;
    font-weight: 400;
    margin: 9px 0 0;
    opacity: 1;
    transition: opacity .2s ease;
}

.hd.header .hd-subtitle .blue-gradient {
    color: #408ea3;
    background: -webkit-linear-gradient(left, #6046FE, #1DA0C3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.hd-nav {
    margin: 11px 0 0;
    font-size: 1.2307692308em;
    white-space: nowrap;
    text-align: right;
    color: #777;
    padding: 0;
}

.hd-nav > li {
    border-right: none;
    padding: 0 0 0 25px;
    line-height: 20px;
}

.hd-nav li {
    display: inline-block;
}

.nav-button {
    background: none;
    color: #161113;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    line-height: 20px;
    border: none;
}

.nav-button:hover {
    text-decoration: underline;
}

.signup-link {
    color: #161113;
    font-weight: 700;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}

.login-link {
    color: #161113;
    font-weight: 700;
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}

 /* logged in user menu */
 #menubar-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 975px;
    height: 43px;
    border-top: solid 5px #848484;
    background-color: #ececec;
    background-position:0 42px;
    background-repeat: repeat-x;
    border-bottom: dotted #afafaf 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 1;
}

 #menubar-wrapper-grey {
     background-color: #212121;
     height: 53px;
 }

#menubar-wrapper.header-rework {
    z-index: 200;
    background-color: #ffffff;
    border: none !important;
    border-bottom: dotted #afafaf 1px;
    height: 53px;
    min-width: calc(100vw - 17px);
}

#menubar-wrapper.header-rework #menubar-bar {
    top: 0;
}

#menubar-wrapper.header-rework .menubar-outer.fixed {
    position: fixed;
}

#menubar-wrapper.header-rework .menubar-outer {
    height: 53px;
    box-shadow: 0px 1px #EEE;
    background-color: #ffffff;
    transition: top .25s ease-out;
}

#menubar-slim {
    height: 53px;
    display: flex;
}

#menubar-bar {
    width: 100%;
}

#menubar-bar-slim {
    width: 100%;
    height: 53px;
}

#menubar.menubar-2018 {
    max-width: 1360px;
}

.menubar-2018 {
    position: static;
    text-align: right;
    box-shadow: 0px 1px #EEE;
    transition: all .2s ease-in;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 53px;
    padding: 0 16px;
    background-color: #ffffff;
    overflow: visible;;
}

.menubar-2018-grey {
    background-color: #212121;
}

.menubar-2018 #site-nav {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.menubar-2018-grey #site-nav {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}


#site-nav {
    left: 0;
}

.menubar-2018 ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    align-items: center;
    display: flex;
}

.menubar-2018-grey ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    align-items: center;
    display: flex;
}

.logoLogged > span {
    display: none;
}

.logoLogged {
    padding-right: 19px;
    height: 17px;
    width: auto;
    margin: 2px 0px 2px 0px;
}

.logoLogged img {
    float: left;
    width: 110px;
    height: 13px;
    background: none;
}

.menubar-2018 > ul > li {
    float: left;
}

.nav-button-logout {
    background: none;
    color: #161113;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    line-height: 20px;
    border: none;
    font-size: 1.2307692308em;
    white-space: nowrap;
    text-align: right;
    padding: 0;
}

 /* header - slim */
.header-slim {
    height: 53px;
}
.hd-slim {
    background-color: #fbfdfe;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.15);
    height: 53px;
    margin-top: 0;
    display: table;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    transition: margin 0.25s ease-out;
}

.nav-button-slim {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 15px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
}

.nav-button-slim:hover {
    text-decoration: underline;
}

.nav-button-slim-logout {
    background: none;
    color: #161113;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    line-height: 20px;
    border: none;
    font-size: 1.2307692308em;
    white-space: nowrap;
    text-align: right;
    padding: 0;
}

/* .row-slim {
    height: 53px;;
} */

.hd-slim .row {
    max-width: 994px;
}
.hd-slim > .row {
    position: relative;
}

 /* footer */
 .footer {
    height: 105px;
    background-color: #477987;
    /* padding: 0 16px; */
 }

 /* #footer-wrapper {
     padding: 0;
     background: transparent;
     position: relative;
     width: 100%;
     z-index: 110;
     font-size: 100%;
 } */

.ft {
    background-color: #477987;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.15);
    height: 105px;
    margin-top: 0;
    display: table;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 5;
    transition: margin 0.25s ease-out;
    padding: 0 0 80px;
}

.ft .row {
    max-width: 994px;
}
.ft > .row {
    position: relative;
}

.ft.footer .ft-subtitle {
    color: #161113;
    font-size: 16px;
    font-weight: 400;
    margin: 9px 0 0;
    opacity: 1;
    transition: opacity .2s ease;
}

.ft.footer .ft-subtitle .blue-gradient {
    color: #408ea3;
    background: -webkit-linear-gradient(left, #6046FE, #1DA0C3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.ft-nav {
    color: #abc1c7;
    font-size: 13px;
    text-align: left;
    line-height: 1.2;
    list-style: none;
    margin: 40px 0 0 0;
    padding: 0;
    transition: color .15s;
}

.ft-nav li {
    margin: 0 0 13px;
}
.ft-nav a {
    color: #fff;
    text-decoration: none;
    transition: color .15s;
}
.ft-nav.dimmed, .ft-nav.dimmed a, #Ft .dimmed a {
    color: #739aa5;
}
.ft-nav a:hover {
    text-decoration: underline;
}
.ft-nav a+a {
    border-left: 1px solid #7ea0a9;
    margin-left: 0.3em;
    padding-left: 0.6em;
}
.ft-nav .nav-label {
    padding-right: 0.3em;
}

/* .ft-nav > li {
    border-right: none;
    padding: 0 0 0 25px;
    line-height: 20px;
}

.ft-nav li {
    display: inline-block;
} */

/* carousel */

@media (min-width: 741px) {
    .carousel-wrapper {
        position: relative;
        padding: 37.5% 0 0;
    }
}

.carousel-outer {
    position: absolute;
    top: 0;
    z-index: 3;
    width: 100%;
    color: #ffffff;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.40);
}

.carousel-inner {
    clear:both;
    margin:0 auto;
    width:100%;
}

.carousel-main-item {
    background: url('https://f4.bcbits.com/img/0019386653_171.jpg');
    width: 74%;
    height: 0;
    padding-top: 37.5%;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    display: inline-block;
}

.carousel-main-item > a {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.carousel-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35));
}

.carousel-item-hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.12);
    opacity: 0;
    transition: opacity 0.1s ease-out;
}

.carousel-main-item-content {
    display: block;
    position: absolute;
    bottom: 4px;
    width: 100%;
    color: inherit;
}

.carousel-item-content-inner {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}

.carousel-main-item-title {
    font-size: 32px;
    line-height: 37px;
    margin: 0 0 10px 0;
}

.carousel-main-item-subtitle {
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
    margin: 6px 0 20px 0;
}

.carousel-main-item-content .read-more-button {
    border: 1px solid #FFF;
    border-radius: 4px;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    margin: 6px 0 17px 0;
}

.carousel-main-item-content .read-more {
    padding: 8px 14px 8px 14px;
    display: inline-block;
    text-decoration: none;
    position: relative;
    transition: padding 0.1s;
}

.carousel-small-items {
    display: inline-block;
    box-sizing: border-box;
    width: 26%;
    list-style: none;
    padding: 0 0 0 2px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    opacity: 1;
    transform: none;
    transition: transform 0.2s ease-in, opacity 0.2s ease-in;
}

.carousel-small-item1 > a {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.carousel-small-item1 {
    background: url('https://f4.bcbits.com/img/0019385969_170.jpg');
    position: relative;
    margin: 0 0 2px 0;
    width: 100%;
    height: 0;
    padding-top: 48%;
    background-size: cover;
    background-position: 50% 50%;
}

.carousel-small-item2 > a {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.carousel-small-item2 {
    background: url('https://f4.bcbits.com/img/0019386088_170.jpg');
    position: relative;
    margin: 0 0 2px 0;
    width: 100%;
    height: 0;
    padding-top: 48%;
    background-size: cover;
    background-position: 50% 50%;
}

.carousel-small-item3 > a {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.carousel-small-item3 {
    background: url('https://f4.bcbits.com/img/0019245116_170.jpg');
    position: relative;
    margin: 0 0 2px 0;
    width: 100%;
    height: 0;
    padding-top: 48%;
    background-size: cover;
    background-position: 50% 50%;
}

.carousel-small-item-content {
    position: absolute;
    bottom: 0;
}

.carousel-small-item-title {
    margin: 0 12px 6px 12px;
    font-size: 15px;
    line-height: 17px;
}

.carousel-small-item-subtitle {
    text-transform: uppercase;
    margin: 0 0 16px 12px;
    font-size: 10px;
    font-weight: bold;
}

.carousel-small-item > a {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

 /* modal */
.modal-outside {
    position: fixed;
    top: 0;
    background-color: rgba(0, 6, 9, 0.6);
    width: 100%;
    height: 100%;
    z-index: 1001;
    text-align: center;
}

.modal-inside {
    display: inline-block; 
    margin-top: 10%;
    width: 500px;
    /* height: 487px; */
    height: auto;
    background-color: #fff;
    z-index: 1002;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    opacity: 100%;
}

.modal-inside-login {
    display: inline-block; 
    margin-top: 10%;
    width: 500px;
    height: 345px;
    background-color: #fff;
    z-index: 1002;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    opacity: 100%;
}

.modal-header-bar {
    padding: 15px 20px 12px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ededed;
    position: relative;
    display: inline-block;
    width: 460px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.modal-header-title {
    text-align: center;
    width: 100%;
    max-width: 100%;
    font-size: 18px;
    font-weight: 400;
    color: #2e3332;
    float: left;
    height: 18px;
}

.modal-header-close {
    background: transparent;
    margin: 0;
    right: 0;
    top: 0;
    width: 12px;
    height: 12px;
    overflow: hidden;
    padding: 18px 20px 15px 25px;
    border: 0;
    z-index: 5;
    position: absolute;
}

.icon-close.icon-close {
    background-size: 50px 512px;
    background-position: -27px -40px;
    height: 12px;
    margin: 0;
    padding: 0;
    width: 12px;
    display: block;
}

.icon-close.icon-close:hover {
    background-position: -27px -52px;
    opacity: 0.9;
}

.ui-icon {
    background: url('http://shyeyez.com/ravecave/assets/images/icon_sprite.png');
}

.form {
    display: block;
    margin-top: 0em;
}

.modal-content {
    padding: 25px 20px 30px;
    color: #333;
}

.signup-inner {
    margin-top: 10px;
    width: 100%;
    margin: 0 auto;
}

.signup-form {
    width: 340px;
    margin: 0 auto;
}

.signup-item {
    padding: 0 0 10px 0;
    width: 340px;
    margin: 0 auto;
}

.signup-form .login-instead {
    width: 100%;
    margin: 39px 0 0 0;
    font-size: 12px;
    text-align: center;
    color: #818285;
}

.signup-form .login-instead a {
    color: rgb(0,161,198);
    cursor: pointer;
}

.signup-form .login-instead a:hover {
    text-decoration: none;
}

.signup-label {
    margin-bottom: 2px;
    font-size: 16px;
    margin-top: 10px;
    display: block;
    width: 100%;
    text-align: left;
}

.signup-input {
    display: inline-block;
    width: 100%;
}

/* forms */
form input[type=text],
form input[type=email],
form input[type=password] {
    -webkit-appearance: none;
    height: 35px;
    padding-left: 10px;
    background: #fff;
    border: 1px solid #ccc;
    color: #333;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
}

form textarea:focus,
form input[type=text]:focus,
form input[type=email]:focus,
form input[type=password]:focus {
     -moz-transition-duration: 0.3s;
    -moz-transition-property: border-color, box-shadow;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-property: border-color, box-shadow;
    transition-duration: 0.4s;
    transition-property: border-color, box-shadow;
    border-color: #50a1e6;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 5px #b4d7f9;
    outline: none;
    -webkit-appearance: none;
}

.signup-form .buttons {
    padding-top: 2px;
    width: 100%;
    margin: 0 auto;
}

.signup-form button {
    background: rgb(0,161,198);
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 0 1em;
    text-align: center;
    border: none;
    vertical-align: top;
    border-radius: 4px;
    height: 36px;
    border-radius: 5px;
    width: 100%;
    margin: 12px 0 12px 0;
}

/* middle */
#middle-factoid {
    background-color: #ffffff;
}

.dots {
    background-size: 250%;
    background-position: 100%, 100%;
    margin: 41px 0 0;
    height: 20px;
    background: url(http://shyeyez.com/ravecave/assets/images/dots.png) no-repeat;
}

.fans-facts {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 36px 0 32px;
    position: relative;
    text-align: center;
}

.nowrap {
    display: inline-block;
}

strong {
    font-weight: bold;
}

/* artist page */
.black-wrapper {
    position: fixed;
    top: 0;
    background: #000000;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#artist-page-wrapper {
    width: 100%;
    position: static;
    margin: 1px auto 0px;
}

div#inner-artist-wrapper {
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%; 
}
#pageBlack {
    background: #000000;
    color: #ffffff;
    margin-right: auto;
    margin-left: auto;
    flex-grow: 1;
    padding-bottom: 80px;
    margin-bottom: 40px;
}
.albums-grid {
    width: 756px;
    float: left;
}

.artist-info-bar {
    margin-bottom: 1.75em;
    font: normal 12px/1.25em 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 120px;
    float: right;
    word-wrap: break-word;
}

#artist-name-location {
    word-wrap: break-word;
    margin: 0 0 1em;
}

#artist-name-location .name {
    font-size: 14px;
    font-weight: bold;
    border-top: 0;
    margin: 0 0 3px;
    display: block;
}

#artist-name-location .location {
    display: block;
    color: #888888;
}

#band-links {
    padding: 0;
    margin: 0 0 1em;
}
 /* responsive */
/* XLarge */
/* 
@media screen and (max-width: 1680px) {
    body, input, select, textarea {
        font-size: 14pt;
    }
} */

/* Large */
/* 
@media screen and (max-width: 1140px) {
    body, input, select, textarea {
		font-size: 13pt;
    }

    h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
		display: none;
    }
} */

/* Medium */

/* @media screen and (max-width: 980px) {

} */

/* Small */
/* 
@media screen and (max-width: 736px) { */
@media screen and (max-width: 736px) {
    .carousel-outer {
        padding-top: 0;
        position: relative;
    }

    .hd.header.row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        box-shadow: 0px 1px #EEE;
        box-sizing: border-box;
        padding: 0 14px;
        background-color: #ffffff;
        min-height: 59px;
    }

    .col.col-7-12 {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        min-height: 59px;
        width: 60%;
    }

    .col.col-5-12 {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        /* margin-top: 23px; */
        /* height: 84px; */
    }

    .hd {
        position: relative;
    }

    .header {
        height: 90px;
    }

    .hd-nav {
        margin-top: 23px;
        font: 14px/1 'Helvetica Neue',Helvetica,Arial,sans-serif;
    }

    .hd-nav > li {
        padding: 0 0 0 22px;
    }

    .nav-button {
        font-weight: 500;
    }

    .logo img {
        width: 100px;
        height: 12px;
    }

    .hd.header .hd-subtitle {
        font-size: 13px;
        margin: 0;
    }

    .logo {
        height: 20px;
        margin-bottom: 8px;
    }

    .carousel-main-item {
        width: 100%;
        padding-top: 52%;
        height: auto;
        background-size: 100%;
        background-position: 50% 0;
        position: relative;
        display: block;

    }
    .carousel-main-item-content {
        position: relative;
        top: 0;
        display: block;
        text-shadow: none;
        color: black;
    }

    .carousel-small-items {
        position: relative;
        width: 100%;
        display: block;
        padding: 0;
    }

    .col-12-16 {
        width: 100%;
    }

    .carousel-item-content-inner {
        margin-left: 0;
        margin-right: 0;
        display: block;
        background: #eef2f3;
        padding: 0.5rem;
    }

    .carousel-main-item-title {
        display: inline-block;
        margin-bottom: 0.25rem;
        font-size: 1.385rem;
        line-height: 1.616rem;
        margin: 0 0 0.385rem 0;
    }

    .carousel-main-item-subtitle {
        margin: 0;
        font: 13px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
    }

    .carousel-main-item-content .read-more-button {
        position: absolute;
        margin-top: -167.16px;
        margin-left: -8px;
        border-radius: 0;
        background-color: #17a652;
        border: 1px solid #17a652;
    }

    .carousel-main-item-content .read-more-button a {
        color: #ffffff;
    }

    .carousel-small-item-title {
        font-size: 1rem;
        margin: 0;
    }

    .carousel-small-item-content {
        bottom: 0;
        padding: 0.75rem;
    }

    .carousel-small-item-subtitle {
        text-transform: uppercase;
        margin: 0.25rem 0 0 0;
        font-size: 0.625rem;
    }

    .col-1-16 {
        width: 3%;
    }

    .col-14-16 {
        width: 94%;
    }

    .fans-facts {
        margin: 12px 0 14px;
        font-size: 16px;
    }

    #middle-factoid {
        height: auto;
        display: block;
    }

    .ft {
        display: blockl;
        float: none;
        margin: 0 !important;
        width: 100%;
    }

    .ft .row {
        color: #abc1c7;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        padding: 0 4.265%;
    }

    .ft-nav a {
        font-size: 14px;
    }

    .modal-inside {
        width: 100%;
    }

    .modal-header-bar {
        width: 100%;
        padding: 15px 0 12px;
    }
}

/* XSmall */

@media screen and (max-width: 480px) {
    .col.col-7-12 {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        min-height: 59px;
        width: 60%;
    }

    .col.col-5-12 {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        /* margin-top: 23px; */
        /* height: 84px; */
    }

    .hd {
        position: relative;
    }

    .header {
        height: 90px;
    }

    .hd-nav {
        margin-top: 23px;
        font: 14px/1 'Helvetica Neue',Helvetica,Arial,sans-serif;
    }

    .hd-nav > li {
        padding: 0 0 0 22px;
    }

    .nav-button {
        font-weight: 500;
    }

    .logo img {
        width: 100px;
        height: 12px;
    }

    .hd.header .hd-subtitle {
        font-size: 13px;
        margin: 0;
    }

    .logo {
        height: 20px;
        margin-bottom: 8px;
    }

    .carousel-main-item {
        width: 100%;
        padding-top: 52%;
        height: auto;
        background-size: 100%;
        background-position: 50% 0;
        position: relative;
        display: block;

    }
    .carousel-main-item-content {
        position: relative;
        top: 0;
        display: block;
        text-shadow: none;
        color: black;
    }

    .carousel-small-items {
        position: relative;
        width: 100%;
        display: block;
        padding: 0;
    }

    .col-12-16 {
        width: 100%;
    }

    .carousel-item-content-inner {
        margin-left: 0;
        margin-right: 0;
        display: block;
        background: #eef2f3;
        padding: 0.5rem;
    }

    .carousel-main-item-title {
        display: inline-block;
        margin-bottom: 0.25rem;
        font-size: 1.385rem;
        line-height: 1.616rem;
        margin: 0 0 0.385rem 0;
    }

    .carousel-main-item-subtitle {
        margin: 0;
        font: 13px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
    }

    .carousel-main-item-content .read-more-button {
        position: absolute;
        margin-top: -167.16px;
        margin-left: -8px;
        border-radius: 0;
        background-color: #17a652;
        border: 1px solid #17a652;
    }

    .carousel-main-item-content .read-more-button a {
        color: #ffffff;
    }

    .carousel-small-item-title {
        font-size: 1rem;
        margin: 0;
    }

    .carousel-small-item-content {
        bottom: 0;
        padding: 0.75rem;
    }

    .carousel-small-item-subtitle {
        text-transform: uppercase;
        margin: 0.25rem 0 0 0;
        font-size: 0.625rem;
    }

    .col-1-16 {
        width: 3%;
    }

    .col-14-16 {
        width: 94%;
    }

    .fans-facts {
        margin: 12px 0 14px;
        font-size: 16px;
    }

    #middle-factoid {
        height: auto;
        display: block;
    }

    .ft {
        display: blockl;
        float: none;
        margin: 0 !important;
        width: 100%;
    }

    .ft .row {
        color: #abc1c7;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        padding: 0 4.265%;
    }

    .ft-nav a {
        font-size: 14px;
    }

    .modal-inside {
        width: 100%;
    }

    .modal-header-bar {
        width: 100%;
        padding: 15px 0 12px;
    }
}

/* XXSmall */

/* @media screen and (max-width: 320px) {
    html, body {
		min-width: 320px;
	}
} */